<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <add name="TZeroHost.Properties.Settings.ConfigConn" connectionString="Data Source=sebas-note;Initial Catalog=TZero_Config;Persist Security Info=True;User ID=sa;Password=blanco"
      providerName="System.Data.SqlClient" />
    <add name="TZeroHost.Properties.Settings.IncomingConn" connectionString="Data Source=sebas-note;Initial Catalog=TZeroIncoming;Persist Security Info=True;User ID=sa;Password=blanco" />
    <!--<add name="ADConnectionString" connectionString="LDAP://Sebas-Note" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None">
      <!--<forms defaultUrl="./Default.aspx"
             loginUrl="./Users/Login.aspx"
             name=".ADAuthCookie"
             timeout="10">
      </forms>-->   
    </authentication>
    <!--<authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>-->
    <!--<membership defaultProvider="MyADMembershipProvider">
      <providers>
        <add
           name="MyADMembershipProvider"
           type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web"
           connectionStringName="ADConnectionString"
           connectionUsername="Sebas-Note\sebastian"
           connectionPassword="thisisthis"/>
      </providers>
    </membership>-->

    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
        <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="myBindingForBigArrays" closeTimeout="00:01:00" openTimeout="00:59:00" receiveTimeout="00:59:00" sendTimeout="00:59:00" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="restBindingForBigArrays" closeTimeout="00:01:00" openTimeout="00:59:00" receiveTimeout="00:59:00" sendTimeout="00:59:00" maxBufferSize="67108864" maxBufferPoolSize="67108864" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"/>
          <security mode="None">
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="behavii">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Services.ConfigBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Services.ConfigBehavior" name="TZeroHost.Services.Sync">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBindingForBigArrays" contract="ZeroCommonClasses.Interfaces.Services.ISyncService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="behavii" contract="ZeroCommonClasses.Interfaces.Services.ISyncService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Services.ConfigBehavior" name="TZeroHost.Services.FileTransfer">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBindingForBigArrays" contract="ZeroCommonClasses.Interfaces.Services.IFileTransfer">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Services.ConfigBehavior" name="TZeroHost.Services.ServiceHelper">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="myBindingForBigArrays" contract="TZeroHost.Services.ServiceHelper">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
   multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="ServiceModelMessageLoggingListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Error, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="ServiceModelTraceListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
      </add>
      <add initializeData="tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>
