<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TerminalZeroClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="TerminalZeroClient" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="DebugLogListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="ZeroLog.txt" type="System.Diagnostics.DelimitedListTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="DebugLogListener" traceOutputOptions="DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>
    </sharedListeners>
    <switches>
      <add name="ZeroLogLevelSwitch" value="2" />
    </switches>
    <trace autoflush="true" indentsize="3">
      <listeners>
        <add name="DebugLogListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="TerminalZeroClient.Properties.Settings.ConfigConn" connectionString="Data Source=SEBAS-NOTE\sqlexpress;Initial Catalog=TZeroMaster;Persist Security Info=True;User ID=sa;Password=blanco" providerName="System.Data.SqlClient" />
    <add name="TerminalZeroClient.Properties.Settings.UsersConn" connectionString="Data Source=sebas-note;Initial Catalog=TZeroUsers;Persist Security Info=True;User ID=sa;Password=blanco" />
  </connectionStrings>
  <applicationSettings>
    <TerminalZeroClient.Properties.Settings>
      <setting name="TerminalCode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>Cabañas del Rey</value>
      </setting>
    </TerminalZeroClient.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="myBindingForBigArrays" closeTimeout="00:01:00" openTimeout="00:59:00" receiveTimeout="00:59:00" sendTimeout="00:59:00" maxBufferPoolSize="67108864" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          <security mode="None">
            <transport proxyCredentialType="Basic" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://tzhost.dyndns-server.com/tzserver/Services/Sync.svc" binding="wsHttpBinding" bindingConfiguration="myBindingForBigArrays" contract="ZeroCommonClasses.Interfaces.Services.ISyncService" name="BasicHttpBinding_ISyncService" />
      <endpoint address="http://tzhost.dyndns-server.com/tzserver/Services/FileTransfer.svc" binding="wsHttpBinding" bindingConfiguration="myBindingForBigArrays" contract="ZeroCommonClasses.Interfaces.Services.IFileTransfer" name="BasicHttpBinding_IFileTransfer" />-->
      <endpoint address="http://Sebas-Note/TZeroHost/Services/Sync.svc" binding="wsHttpBinding" bindingConfiguration="myBindingForBigArrays" contract="ZeroCommonClasses.Interfaces.Services.ISyncService" name="BasicHttpBinding_ISyncService" />
      <endpoint address="http://Sebas-Note/TZeroHost/Services/FileTransfer.svc" binding="wsHttpBinding" bindingConfiguration="myBindingForBigArrays" contract="ZeroCommonClasses.Interfaces.Services.IFileTransfer" name="BasicHttpBinding_IFileTransfer" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="TerminalZeroClient.Properties.Settings.UsersConn" />
  </appSettings>
  <system.web>
    <membership userIsOnlineTimeWindow="180" defaultProvider="SqlMembershipProvider">
      <providers>
        <clear/>
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="TerminalZeroClient.Properties.Settings.UsersConn" enablePasswordRetrieval="true" enablePasswordReset="true" requiresUniqueEmail="false" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="1" requiresQuestionAndAnswer="false" passwordFormat="Clear" applicationName="TerminalZero" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" connectionStringName="TerminalZeroClient.Properties.Settings.UsersConn" type="System.Web.Security.SqlRoleProvider" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>