<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.serviceModel">
      <section name="domainServices" type="System.ServiceModel.DomainServices.Hosting.DomainServicesSection, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" allowDefinition="MachineToApplication" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="TZeroHost.Properties.Settings.ConfigConn" connectionString="Data Source=sebas-pc\sqlexpress;Initial Catalog=TZeroMaster_Server;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TZeroHost.Properties.Settings.UsersConn" connectionString="Data Source=sebas-pc\sqlexpress;Initial Catalog=TZeroUsers;Persist Security Info=True;Integrated Security=True" />
  </connectionStrings>

  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0" />
    <globalization culture="auto" uiCulture="auto" />

    <authentication mode="Forms">
      <forms name=".TerminalZeroRiaWebClient_ASPXAUTH" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" 
             connectionStringName="TZeroHost.Properties.Settings.UsersConn"
              enablePasswordRetrieval="true"
              enablePasswordReset="true"
              requiresUniqueEmail="false"
              minRequiredNonalphanumericCharacters="0"
              minRequiredPasswordLength="1"
              requiresQuestionAndAnswer="false"
              passwordFormat="Clear" 
             applicationName="TerminalZeroWeb" />
      </providers>
    </membership>

    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" 
             connectionStringName="TZeroHost.Properties.Settings.UsersConn" 
             applicationName="TerminalZeroWeb" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" 
             applicationName="TerminalZeroWeb" />
      </providers>
    </roleManager>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" 
             connectionStringName="TZeroHost.Properties.Settings.UsersConn" 
             applicationName="TerminalZeroWeb"/>
      </providers>
      <properties>
        <add name="FriendlyName"/>
      </properties>
    </profile>

  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler"
          type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <wsHttpBinding>
        <binding name="myBindingForBigArrays" closeTimeout="00:01:00"
             openTimeout="00:59:00" receiveTimeout="00:59:00" sendTimeout="00:59:00"
             maxBufferPoolSize="67108864" maxReceivedMessageSize="2147483647"
             messageEncoding="Text" textEncoding="utf-8">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          <security mode="None">
            <transport proxyCredentialType="Basic"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="behavii">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Services.ConfigBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <!--<serviceCertificate findValue="localhost" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My" />-->
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider"
                                    membershipProviderName="AspNetSqlMembershipProvider" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Services.ConfigBehavior" name="TerminalZeroRiaWebClient.Web.Services.Sync">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myBindingForBigArrays"
          contract="ZeroCommonClasses.Interfaces.Services.ISyncService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="rest" behaviorConfiguration="behavii" binding="webHttpBinding"
          contract="ZeroCommonClasses.Interfaces.Services.ISyncService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Services.ConfigBehavior" name="TerminalZeroRiaWebClient.Web.Services.FileTransfer">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myBindingForBigArrays"
          contract="ZeroCommonClasses.Interfaces.Services.IFileTransfer">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>